@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27272a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-shape-divider-top-1693587918 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693587918 svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 41px;
}

.custom-shape-divider-top-1693587918 .shape-fill {
  fill: #27272a;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1693587918 svg {
    width: calc(161% + 1.3px);
    height: 30px;
  }
}

.custom-shape-divider-bottom-1693587976 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693587976 svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 75px;
}

.custom-shape-divider-bottom-1693587976 .shape-fill {
  fill: #27272a;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1693587976 svg {
    width: calc(161% + 1.3px);
    height: 30px;
  }
}
